@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --almost-black: #151515;
    --white: #ffffff;
    --gold: #d5966c;
    --dark-grey: #444444;
}

body{
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 900;
}

p{
    font-family: 'Outfit', sans-serif;
    line-height: 1.5;
    color: var(--dark-grey);
}
.header{
    position: relative;
    display: flex;
    width: 90%;
    height: auto;
    margin-bottom: 5%;
}
.header-text{
    position: relative;
    width: 30%;
    height: auto;
    background: var(--almost-black);
}
.header-text h1{
    position: absolute;
    top: 25.5%;
    left: 41.79%;
    color: var(--white);
    font-size: 96px;
    text-transform: uppercase;
    line-height: 0.958;
}
.header-image{
    position: relative;
    width: 30%;
    height: auto;

}
.i{
    position: absolute;
    top: 23.5%;
    left: -0.8%;
    font-size: 100px;
}
.lery{
    position: absolute;
    top: 36.1%;
    left: -0.8%;
    font-size: 100px;
    text-transform: uppercase;
}
.header-description{
    position: relative;
   left: -3%;
    width: 30%;
    height: auto;
    padding-top: 8%;

}

.header-description p{
    margin-bottom: 25px;
}

.header-description span{
    display: flex;
}

.btn{
    background: var(--almost-black);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 14px;
    font-family: 'Outfit', sans-serif;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background: var(--gold);
}
.btn:active{
    background: var(--gold);
}

.header-description span img{
    background: var(--gold);
    padding: 6px 10px;
    cursor: pointer;
    
}
.header-description span img:hover{
    background: var(--almost-black);
}
.header-description span img:active{
    background: var(--almost-black);
}
.the-gallery{
    position: relative;
    display: flex;
    width: 85%;
    height: auto;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.the-gallery-header{
    width: 42.5%;
    padding: 20% 0%;
}

.the-gallery-header h2{
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 65px;
    line-height: 1.0;
}

.the-gallery-header p {
    font-size: 22px;
}

.the-gallery-image {
    width: 42.5%;
}

.lower{
    display: grid;
    width: 85%;
    height: auto;
    margin: auto;
    grid-template-columns: 2fr 1fr;
    column-gap: 45px;
   
}
.lower-left{
    background-image: url(assets/desktop/image-grid-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

